@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Bestelldetails";
}

<h2>@ViewData["Title"]</h2>

@if (Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>Artikelname</th>
                <th>Preis</th>
                <th>Menge</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Article.Name</td>
                    <td>@item.Article.Price.ToString("C")</td>
                    <td>@item.Quantity</td>
                </tr>
            }
            <a asp-action="DownloadOrderPdf" asp-route-id="@ViewBag.OrderId" class="btn btn-primary">Als PDF herunterladen</a>

        </tbody>
    </table>
}
else
{
    <p>Keine Artikel in dieser Bestellung.</p>
}
